body {
  background: linear-gradient(rgb(196, 0, 141), #70d6ff);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffd80e;
  font-size: 30px;
  text-align: center;

}

.top,
main,
footer {
  padding-left: 20px;
  border: 5px solid transparent;
  border-bottom: none;
  margin-left: 10px;
  margin: auto;
}

.top,
main {
  max-width: 900px;
}


footer {
  color: black;
  height: 200px;
  margin-top: 50px;
  background: #ffd80e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

}


h1 {
  font-size: 5rem;
  color: #ffd80e;
}

h2 {
  text-shadow: #e9ff70 1px 0 10px;
  color: #ffd80e;
  font-size: 3rem;
  font-weight: 400;
}

h1,
h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: black 1px 1px 1px;
}


#pizzaarea {
  background-image: url('./pizza.png');
  height: auto;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 560px;
  align-content: center;
  background-position: center;
}

#pizzaarea:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>😋</text></svg>") 16 0, auto;
}

.ingredientbutton {
  background: #ffc83d;
  color: black;
  background-position: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 30px;
}

.ingredientbutton:hover {
  background: black;
  color: #ffc83d;
}

.buttondiv {
  display: grid;
  align-content: center;
}

#cheesebutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧀</text></svg>") 16 0, auto;
  /*!emojicursor.app*/
}

#pinebutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍍</text></svg>") 16 0, auto;
}

#confirmbutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👀</text></svg>") 16 0, auto;
}

#bananabutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍌</text></svg>") 16 0, auto;
}

#promptbutton:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👀</text></svg>") 16 0, auto;
}

#secretcontent {
  font-size: 30px;
  color: #ffd80e;
  font-weight: 300;
  text-align: center;
}