.halfwide {max-width:48%;max-height:250px;float:left;padding:15px;}
.images, .table {clear:both;}
table {border:1px solid black;}
body {
    background-image: linear-gradient(lightblue, blue);
  }
footer {background:rgb(0, 0, 139);color:white;height:400px;}
.top {
  background:linear-gradient(blue, lightblue);
  border:1px dotted blue;
}
.top:hover {
  background:linear-gradient(lightblue, blue);
}

.navlink {
  text-decoration:none;

}

a {
text-decoration: none;
color:white;
}

a:hover {
  text-decoration: underline;
  color:#ffd80e;
  }

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:blueviolet;
  font-size:3rem;
  border:1px solid yellow;
}